﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SolrNet Demo</title>
</head>
<body>
<div>
    <h1>Welcome to the SolrNet demonstration project.</h1>
    <p>Go to <a href="/swagger/ui/index">/swagger/ui/index</a> to begin Solr indexing and querying through SolrNet.</p>
    <p>The Solr core can be setup in the Global.asax.cs.</p>
</div>
</body>
</html>
